<form name=frm action="/mokokos" method="post" enctype="multipart/form-data"> <!--encytype안해주면 image ""으로 날아감-->
    <tr>
        <td>코드</td>
        <input type="text" name="code" value="<%=newCode.code%>" readonly>
    </tr>
    <hr>
    <tr>
        <td>이름</td>
        <input type="text" name="name">
    </tr>
    <hr>
    <tr>
        <td>가격</td>
        <input type="number" name="price">
    </tr>
    <hr>
    <tr>
        <td>이미지</td>
        <input type="file" name="image" style="display:none;">
        <img id=image src="https://dummyimage.com/20x20" width="50"/>
    </tr>
    <hr>
 
            <button>등록</button>
            <button id="list" type="button">목록으로</button>
   
</form>


<script>
    $(frm).on("submit", (e) => {
        e.preventDefault();
        const name = $(frm.name).val();
        const price = $(frm.price).val();
        const image = $(frm.image).val();
        const code = $(frm.code).val();


        if (name=="") {
            alert("이름을 입력하세요.");
            return;
        }

        if(price==""){
            alert("가격을 입력하세요");
            return;
        }

        if (image=="") {
            alert("이미지를 등록해주세요.");
            return;
        }

        if (!confirm("등록하시겠습니까?")) return;

        frm.submit();

    })


    //이미지 미리보기
    $("#image").on("click", () => {
        $(frm.image).click();
    })

    $(frm.image).on("change", function (e) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
        }
        reader.readAsDataURL(this.files[0]);
    });

    $("#list").on("click",()=>{
        location.href="/mokokos/list"
    })

</script>